* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(270deg, #dd93f2 -53.74%, #bb94f4 -4.64%, #80b3f6 40.96%, #a1f9fc 83.05%, #60eaa9 127.47%, #52d189 170.73%);
  background-size: 400%;
  animation: background-rotate 2s linear infinite alternate;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

@keyframes background-rotate {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
