.todos-input {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 100%;
  
  & > * {
    transition: $default-transition;
    width: 100%;
  }

  &__field {
    max-width: 304px;
    max-height: 44px;
  }

  &__button {
    min-width: fit-content;
    max-height: 44px;
  }
}
