.task {
  list-style-type: none;
  position: relative;
  display: flex;
  margin-bottom: 16px;

  &.completed &__content {
    opacity: .5;

    .strike {
      background-size: 100% 1px;
    }
  }

  &__content {
    flex: 1;
    font-size: 14px;

    &-checkbox {
      justify-content: flex-start;
      margin-left: 0;
      align-items: flex-start;
    }

    &-input {
      max-height: 20px;
    }

    .strike {
      transition: $default-transition;
      background: linear-gradient($primary-color, $primary-color) left 60% no-repeat;
      background-size: 0% 1px;
      word-break: break-word;
    }
  }

  &__actions {
    display: flex;
    gap: 8px;
    
    & > * {
      padding:  2px 4px;
      transition: .15s linear;
      cursor: pointer;
      max-width: 24px;
      max-height: 24px;
      width: 100%;
      height: 100%;
      user-select: none;
    }
  }

  &__drag-handle {
    user-select: none;
    cursor: grab;
    opacity: 0;
    transition: $default-transition;
    margin-right: 6px;

    &.editing {
      visibility: hidden;
    }
  }
  
  &:hover {
    .task__drag-handle {
      opacity: 1;
    }
  }
}
