.todos__status-info {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: clamp(12px, 4vw, 30px);
  width: 100%;
  max-width: 410px;
  
  .info-block {
    max-height: 85px;
    width: 100%;
    height: 100%;
    background: #2024270D;
    padding: 16px;
    border-radius: 8px;

    &__data {
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      opacity: .5;
      color: $primary-color;
    }

    &__title {
      font-size: 14px;
      color: $primary-color;
      font-weight: 700;
      letter-spacing: -.3px;
      margin-top: 4px;
    }

    &__percent {
      margin-top: 12px;
    }
  }

  @media screen and (max-width: 480px) {
    flex-wrap: wrap;
    max-height: unset;
  }
}
