.todos__filters {
  margin-top: 32px;
  width: 100%;
  max-width: 410px;
  display: grid;
  grid-template-areas: 'a b c';
  justify-items: center;
  grid-auto-columns: minmax(25%, 1fr);

  &-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    grid-area: b;

    &__tab {
      font-weight: 700;
      min-width: 40px;
      font-size: 13px;
      line-height: 16px;
    }
  }

  &-button {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    width: max-content;

    &:first-child {
      grid-area: a;
      justify-self: flex-start;
    }

    &:last-child {
      grid-area: c;
      justify-self: flex-end;
    }
  }
  
  @media screen and (max-width: 480px) {
    grid-template-areas: 
    'a'
    'b'
    'c';
    gap: 5px;

    &-tabs {
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      & > *,
      &__tab {
        width: 100%;
      }
      &__group {
        justify-content: center;
      }
    }

    &-button {
      width: 100% !important;
    }
  }
}

