@supports (background: paint(something)) {
  @property --scrollbar-color {
    syntax: "<color>";
    inherits: true;
    initial-value: white;
  }
}

.todos__list {
  margin-top: 25px;
  width: 100%;
  height: 100%;
  max-width: 450px;
  max-height: 100px;
  flex: 1 0 100%;

  & > ul {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 5px 5px 0 0;
    transition: --scrollbar-color .15s;

    &::-webkit-scrollbar {
      width: 14px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-color, rgba(32, 36, 39, 0.10));
      border: 5px solid #ffffff;
      border-radius: 100px;
      min-height: 40px;
    }

    &::-webkit-scrollbar-track {
      position: absolute;
      background: rgba(0,0,0,0);
    }
    
    &:hover {
      --scrollbar-color: rgba(32, 36, 39, 0.10);
    }
  }
}
