.todos {
  position: relative;
  background: white;
  border: 2px solid rgb(151, 175, 236);
  border-radius: 24px;
  width: 100%;
  height: 100%;
  max-width: 730px;
  max-height: 720px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__title {
    margin: 44px 0 35px;
    color: $primary-color;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.5px;
  }

  &__icon {
    max-width: 180px;
    max-height: 180px;
    width: 100%;
    height: 100%;
  }
}
.todos__helper-text {
  position: absolute;
  bottom: 32px;
  display: flex;
  gap: 8px;
  align-items: center;
  color: $helper-text-color;
  margin: 0 16px;

  &__icon {
    max-width: 24px;
    max-height: 24px;
    width: 100%;
    height: 100%;
  }
}